<div fxFlex="100" fxLayoutAlign="center center">
    <mat-card class="register-modal">
        <form fxLayout="column" fxFlexFill class="example-form form" [formGroup]="formGroup"
            (ngSubmit)="onSubmit($event)">
            <h2>SIGNUP</h2>
            <mat-error>{{errorMessage$$ | async}}</mat-error>
            <div fxFlexFill fxLayout="column" class="form__container">
                <mat-form-field fxFlexFill class="example-form" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput class="form__input" type="text" placeholder="Enter your name" formControlName="name"
                        autocomplete="new-email">
                    <mat-error *ngIf=" formGroup.get('name')!.invalid">{{validationService.errorMessage}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlexFill class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput class="form__input" type="email" placeholder="Enter your email"
                        formControlName="login" autocomplete="new-email">
                    <mat-error *ngIf=" formGroup.get('login')!.invalid">{{validationService.errorMessage}}
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlexFill class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput class="form__input" type="password" placeholder="Enter password"
                        formControlName="password" autocomplete="off">
                    <mat-error *ngIf=" formGroup.get('password')!.invalid">{{validationService.errorMessage}}
                    </mat-error>
                </mat-form-field>
            </div>
            <section fxLayoutAlign="start center" fxFlexFill>
                <mat-checkbox class="example-margin" formControlName="roles">Admin</mat-checkbox>
            </section>

            <button mat-flat-button color="primary" class="form__button"
                [disabled]="formGroup.invalid">Continue</button>
            <mat-spinner *ngIf="isSpinner"></mat-spinner>
            <button mat-button class="form__button login-btn" routerLink='/login'>Already have an account?
                Login</button>
            <div fxLayoutAlign="center center" fxLayoutGap="10px" fxFlexFill class="border">
                <img src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
                    width="40" alt="google logo" (click)="google()" />
                <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png"
                    width="40" alt="github icon" (click)="github()" />
            </div>
        </form>
    </mat-card>
</div>