:host{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 68%;
}

span, div {
    margin: 0;
}

mat-icon {
    margin: 0;
    color: rgb(0 0 0 / 26%);
}

.active{
    color: #ffd740
}