<div fxFlex="100" fxLayoutAlign="center center" fxflexFill>
  <mat-card class="register-modal">
    <form fxFlexFill class="example-form form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <h2>{{'HEADER.LOGIN' | translate }}</h2>
      <mat-error>{{errorMessage$$ | async}}</mat-error>
      <div fxFlexFill fxLayout="column" class="form__container">

        <mat-form-field fxFlexFill class="example-full-width" appearance="fill">
          <mat-label>{{'AUTH.EMAIL' | translate}}</mat-label>
          <input matInput class="form__input" type="email" placeholder="Enter your email" formControlName='username'
            autocomplete="off">
          <mat-error *ngIf=" formGroup.get('username')!.invalid">{{validationService.errorMessage}}
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlexFill class="example-full-width" appearance="fill">
          <mat-label>{{'AUTH.PASSWORD' | translate}}</mat-label>
          <input matInput class="form__input" type="password" placeholder="Enter password" formControlName="password">
          <mat-error *ngIf=" formGroup.get('password')!.invalid">{{validationService.errorMessage}}
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary" type="submit" class=" form__button"
        [disabled]="formGroup.invalid">{{'HEADER.LOGIN' | translate
        }}</button>
      <button mat-button class="form__button login-btn" routerLink='/signup'>{{'AUTH.ROUT_REGISTR' |
        translate}}</button>
      <div fxLayoutAlign="center center" fxLayoutGap="30px" fxFlexFill class="border"
        [attr.content]="'AUTH.CONNECT' | translate">
        <img
          src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"
          width="40" alt="google logo" (click)="google()" />
        <img src="https://www.freepnglogos.com/uploads/512x512-logo-png/512x512-logo-github-icon-35.png" width="40"
          alt="github icon" (click)="github()" />
      </div>
    </form>
  </mat-card>
</div>