.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #BBB;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 7px;
}

mat-icon {
  margin: 0;
  cursor: pointer;
}

div {
  width: 100%;
}

span {
  margin: 0;
}

h1,
.description {
  text-align: start;
}

h1 {
  color: black;
}

.file-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
}

.mat-card-image {
  max-width: calc(100% - 40px);
  background-position: center;
  background-size: contain;
}

.image {
  width: 100%;
  height: 250px;
  margin: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #1897c2;

  .mdc-evolution-chip-set {
    margin: 0 7px;
  }
}

.score {
  color: #1897c2;
}

.active{
  color: aquamarine;
}